

.meal{
    display: flex;
    background-color: bisque;
    border: 1px slateblue solid;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.meal img{
    width: 200px;
    margin-right: 10px;
    border-radius: 20px;
}